.person-card {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}